body{
    color: #882323;
    text-align: center;
    font-size: 17px;
}

#tabla{
    border: 1px solid black;
    width: 40%;
    background-color: #FFF3DC;
}

#encabezado{
    background-color: green;
}

#pequeñoGrande{
    background-color: #EBF2A1;
}

#titulos{
    background-color: #F7C7C7;
}