body{
    text-align: left;
    font-size: 17px;
}

table{
    border: 1px solid black;
    width: 10%;
    padding: 1px;

}

td{
    border:1px solid black;
}

#negrita{
    font-weight: bold;
    text-align:center;
}



