div{
    position: relative;
    background: url(../images/f01.png) left bottom repeat-x,
    url(../images/f02.png) left bottom no-repeat,
    url(../images/f03.png) left top repeat-x;
    background-color: aqua;
}

#muestra{
    height: 300px;
    width: 400px;
    border: 5px solid red;
    margin: 20px;
    padding: 20px;
    position: relative;
}
#anterior, #posterior{
    height: 100px;
    width: 200px;
    border: 2px solid blue;
    padding: 20px;
}



